# This is Git's per-user configuration file.
[user]
	email = h.georgiev@hotmail.com
	name = Hristo Georgiev
	#signingkey = ECC2A821B32451B8A2158BEC0638724CD26FEE10
[commit]
	gpgsign = false
[diff]
	tool = vimdiff
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	editor = nvim
