# This is Git's per-user configuration file.
[user]
	email = h.georgiev@hotmail.com
	name = gotha
	signinkey = C3AB3AC0115DD07B5ACA476E8D8E74E4033D192C
[commit]
	gpgsign = true
[diff]
	tool = vimdiff
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
